.App {
    text-align: center;
    background: lightblue;
    height: 100lvh;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(10, 9vw);
    grid-template-rows: repeat(6, 15vh);
    gap: 5px;
    justify-content: center;
  }
  
  .card {
    
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }
  
.card.flipped {
    background-color: #fff;
  }
  
.card.matched {
    background-color: lightgreen;
  }
.h1-title{
    font-weight: 600;
    font-size: x-large;
  }